# Enable RewriteEngine
RewriteEngine On

# This may be necessary on some servers
RewriteBase /

# Redirect any www requests
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ %1/$1 [R=301]

# Redirect pretty urls to proper .php files
RewriteRule ^agenda(/(.*))?$ /agenda.php?category=$2 [END,QSA,NC]
RewriteRule ^(pesquisas|pesquisa|artigos|informes)(/(.*))?$ /posts.php?category=$1&permalink=$3 [END,QSA,NC]
RewriteRule ^(contato|curso|sobre|identidade|mapa|ajuda) /static.php?page=$1 [END,QSA,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+?)\/?$ /$1.php [END]

# Error handling
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 402 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php
ErrorDocument 501 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php

# Disable directory browsing
Options All -Indexes
